:root {
    --color-primary: #ffe600;
    --color-secondary: #1709e0;
    --color-background: rgb(255, 0, 0);
    --font-display: "Granika", "Helvetica", sans-serif;
    --font-body: "Granika", "Helvetica", sans-serif;
}

@font-face {
    font-family: "Granika";
    src: 
        local("Granika"),
        url("../r/f/granika.otf") format("opentype");
}


#name {
    margin: 7rem 0 3.5rem;
    font-weight: 100;
    line-height: 22rem;
    color: var(--color-primary);
    text-shadow: 1rem 1rem var(--color-secondary);
}

.name-word {
    display: block;

}

@media(min-width: 800px) {
    #firstname:hover {
        letter-spacing: 5rem;
        transform: translateX(2.5rem);
    }
    #lastname:hover {
        letter-spacing: 1rem;
        transform: translateX(.5rem);
    }

    #firstname:active {
        letter-spacing: 7.5rem;
        transform: translateX(3.7rem);
    }
    #lastname:active {
        letter-spacing: 2rem;
        transform: translateX(1rem);
    }
}

#firstname {
    font-size: 40rem;
}

#lastname {
    color: var(--color-secondary);
    text-shadow: .5rem .5rem var(--color-primary);
    font-size: 13rem;
    font-weight: normal;
}

.button, summary {
    padding: 2rem 4rem 2rem 2rem;
    font-size: 5rem;
    text-decoration: none;
    transition: .01s ease-in-out;
    border-radius: 1rem;
    height: 6rem;
    background-color: var(--color-primary);
    box-shadow: 1rem 1rem var(--color-secondary);
    font-family: var(--font-display);
    min-width: 20vw;
    max-width: 800px;
}

summary {
    cursor: pointer
}

@media(max-width: 800px) {
    .button {
        min-width: 80vw;
    }
}

.button, summary {
    width: 100%;
    margin-bottom: 5rem;
}

details .button {
    position: relative;
    left: 5rem;
}


.button:hover, summary:hover {
    /* text-decoration: wavy underline 2.5px; */
    text-decoration-skip-ink: none;
    box-shadow: 2rem 2rem var(--color-secondary);
    transform: scale(1.05)
}

.button-icon {
    display: none;
}

