@font-face {
	font-family: 'Sun Serif';
	src: url('SunSerif-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Sun Serif Caps';
	font-weight: normal;
	src: url('SunSerif-Caps-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Sun Serif Caps';
	font-weight: bold;
	src: url('SunSerif-Caps-Bold.ttf') format('truetype');
}

:root {
	--purple: #7f7b8c;
	--blue: #b7c8ca;
	--darkblue:#a4b2b5;
	--pink: #d1c8c9;
	--yellow: #e0d4c4;
	--lightgray: #c8c2c6;
	--gray: #49464d;
	--white: #cfccd4;
	--black: #110f14;
	--serif: 'Sun Serif', serif;
	--caps: 'Sun Serif Caps', serif;
}

html {
	font-size: 10px;
	@media only screen and (max-width: 800px) {
		font-size: 11px;
	}
	margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--black);
}

main {
	min-height: 100vh;
	width: 100vw;
	background: var(--purple);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--serif);
	font-weight: bold !important;
}

a {
	color: var(--gray);
	&:hover {
		color: var(--black);
	}
}

#name {
	line-height: 1;
	font-size: 6rem;
	font-family: var(--caps);
	font-weight: bold !important;
	margin: 0;
	margin-bottom: 1rem;
}

#about {
	font-size: 2rem;
	margin-bottom: 4rem;
	margin-top: -.5rem;
}

#container {
	max-width: 1000px;
	padding: 10rem 2rem;
	@media only screen and (max-width: 800px) {
		padding-top: 1rem;
	}
	margin: 0 auto;
}

table {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 3rem;
	--radius: 3px;
	--border: 2px solid var(--gray);
	&#social-media {
		--background: var(--lightgray);
	}
	&#blogs {
		--background: var(--blue);
	}
	&#media {
		--background: var(--pink);
	}
	&#projects {
		--background: var(--yellow);
	}
	td, th {
		background: var(--background);
		text-align: left;
		padding: 1rem;
		font-size: 2rem;
		font-weight: normal;
		vertical-align: top;
	}
	thead th {
		background: none !important;
		border: none;
		color: var(--white);
		font-family: var(--serif);
		font-weight: normal;
		font-style: italic;
		font-size: 2.7rem;
		padding: 1rem 0 0; 
		display: block;
		width: 200%;
	}
	tbody {
		tr:first-of-type {
			td, th {
				border-top: var(--border);
			}
			td {
				border-top-right-radius: var(--radius);
			}
			th {
				border-top-left-radius: var(--radius);
			}
		}
		tr:last-of-type {
			td {
				border-bottom-right-radius: var(--radius);
			}
			th {
				border-bottom-left-radius: var(--radius);
			}
		}
		td, th {
			border-bottom: var(--border);
		}
		th {
			border-left: var(--border);
			width: 40%;
			border-right: var(--border);
		}
		td {
			border-right: var(--border);
		}
	}
}


