:root {
    --color-primary: rgb(37, 37, 37);
    --color-secondary: rgb(37, 37, 37);
    --color-background: rgb(247, 252, 255);
    --text-color: black;
    --font-display: "Scotch Text Comp Bold Italic", "Times New Roman", serif;
}

@font-face {
    font-family: 'Scotch Text Comp Bold Italic';
    src: local('Scotch Text Compressed Bold Italic'), local('ScotchTextComp-BdIt'),
        url('../r/f/ScotchTextComp-BdIt.ttf') format('truetype'),
        url('../r/f/ScotchTextComp-BdIt.woff') format('woff'),
        url('../r/f/ScotchTextComp-BdIt.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

#look-sky #name {
    font-family: "Scotch Text Comp Bold Italic";
    font-style: italic;
    font-weight: Black;
    color: var(--text-color);
    text-transform: lowercase;
    letter-spacing: -.5rem;
    font-size: 12.5rem;
    margin: 5rem 0 15rem;
    text-align: center;
    mix-blend-mode:normal;
    pointer-events: none;
    user-select: none;
}

#look-sky main {
    background-image: url('../r/i/clouds-tile.png');
    background-repeat: repeat;
    background-size: 100rem;
    animation: moving-sky 45s linear infinite;
}

@media (prefers-color-scheme: dark) {

    :root {
        --text-color: rgb(224, 224, 224);
    }

    #look-sky main {
        background-image: url('../r/i/dark-clouds-tile.png');
    }

    #look-sky #name {
        mix-blend-mode:difference;
    }
}

@media (max-width: 500px) {
    #look-sky #name {
        font-size: 10rem !important;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@keyframes moving-sky {
    from {
        background-position: 200rem -200rem;
    }
    to {
        background-position-x: -200rem 200rem;
    }
}

#look-sky .button, summary {
    font-size: 5rem;
    text-decoration: none;
    text-align: left;
    width: 100%;
    font-style: italic;
    letter-spacing: -.25rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--text-color);
    user-select: none;

}

#look-sky .button-icon {
    margin: 0;
    font-style: normal;
    position: relative;
    top: 5px;
    color: var(--text-color);
    display: none;
}
#look-sky .button, summary {
    margin-bottom: 1.5rem;
}

#look-sky details > .button {
    position: relative;
    left: 4.5rem;
}

#look-sky summary::marker {
    content: "";
}

#look-sky summary::marker,
#look-sky summary::-webkit-details-marker {
  display: none;
}

#look-sky summary {
    cursor: pointer;
    color: var(--text-color) !important;
}

#look-sky summary, details {
    transition: .05s ease-in-out;
}
